/* styles.css */

/* Navigation */

nav {
    float: right; /* Move the navigation bar to the right */
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: blue;
}

nav ul li a:hover {
    color: darkblue;
}

/* Form */
form {
    margin-bottom: 20px;
}

label {
    /*display: block;*/
    margin-bottom: 5px;
}

input[type="number"],
input[type="text"],
input[type="password"],
select,
input[type="date"] {
    margin-bottom: 10px;
    width: 200px;
}

input[type="submit"] {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: darkblue;
}

/* Flash messages */
ul {
    list-style-type: none;
    padding: 0;
}

.success {
    color: green;
}

.error {
    color: red;
}

/* Table */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

/* Form inside table */
td form {
    display: inline-block;
    margin: 0;
}

/* Headings */
h1,h2, h3 {
    width: 500%;
    background-color: #f2f2f2; /* Background color for headings */
    /*border-bottom: 2px solid black; /* Border at the bottom of headings */
    padding: 5px 0; /* Padding for spacing */
}

.sunday {
    background-color: yellow;
}

/* styles.css */

/* Form */
#attendance-form {
    margin-bottom: 20px;
}

#attendance-form label {
    display: block;
    margin-bottom: 5px;
}

#attendance-form select,
#attendance-form button {
    margin-bottom: 10px;
}

#attendance-form select {
    width: 200px;
}

#attendance-form button,
#generate-attendance-form button,
#bill-docs-form button,
#checklist-form button {
    display: block; 
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
     
}

#save-attendance-form button  {
    display: block; 
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 0 auto; /* Center the button horizontally */
}

#attendance-form button:hover,
#save-attendance-form button:hover,
#generate-attendance-form button:hover ,
#bill-docs-form button:hover,
#checklist-form button:hover {
    background-color: rgb(75, 240, 9);
}


.styled-form {
    width: 500px; /* Adjust width as needed */
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height:25px;
}

label {
    flex: 1;
    padding: 10px; /* Adjust padding as needed */
}

select, input[type="text"], input[type="date"] ,
input[type="number"],input[type="password"]{
    flex: 2;
    height: 100%; /* Make inputs fill the entire height of the row */
    margin: 5px; /* Adjust margin as needed */
}

input[type="submit"] {
    flex: 1;
    margin-left: auto; /* Push the submit button to the right */
    height: 100%; /* Make the button fill the entire height of the row */
    margin: 5px; /* Adjust margin as needed */
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-gap: 10px; /* Gap between grid items */
    margin-bottom: 20px; /* Margin below each grid row */
}

.form-item {
    display: flex;
    align-items: center;
}

.form-item label {
    width: 500px; /* Width of labels */
    margin-right: 10px; /* Spacing between label and input */
}

.form-item input {
    flex: 1; /* Take up remaining space */
}

.bold-label {
    font-weight: bold;
    font-family: serif;
    font-size: 25px;
}