{% extends "base.html" %}
{% block title %}Contracts{% endblock %}

{% block content %}

    <nav>
            
        <ul>
            <li><a href="{{ url_for('manpower') }}">Manpower</a></li>
            <li><a href="{{ url_for('attendance') }}">Attendance</a></li>
            <li><a href="{{ url_for('create_abstract') }}">Bill Abstract</a></li>
            <li><a href="{{ url_for('bill_docs') }}">Bill Docs</a></li>
            <li><a href="{{ url_for('attendance') }}">Contract Docs</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>
  
    <h2>
        Dashboard
    </h2>
    <h4>
        {% if no_of_contracts  %}
        <p> You are  EIC for {{no_of_contracts}} AMC contracts.</p>
        {% endif %}

    </h4>

{% endblock %}
